<div id='homePage'>
	<div id='login-main'>
		<h1>{{heading}}</h1>
	</div>
	<div id="login-form">
		<form action="/login" method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">User name</label>
				<input name="username" class="form-control" id="form-email" placeholder="username">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="password" class="form-control" id="form-password" placeholder="Password">
			</div>
			<input type="submit" value="Submit" class="btn btn-primary btn-md" role="button">
		</form>
		<hr>
		<p id="error-field">{{validation}}</p>
	</div>
</div>