<div id="profile-container">
    <div id="user-card-area" class="row">
        <div class="col-sm-3">
            <div class="row profile-pic">
                <img id="user-photo" src="https://randomuser.me/api/portraits/med/men/3.jpg"/>
            </div>
            <div class="row about-user">
                <div id="user-name">
                    <h4>Kevin Hudson</h4>
                </div>
                <div id="about">
                    <h5>Team lead | Part time singer | Full time dad</h5>
                </div>
                <div id="location">
                    <h5>Canada</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-9 profile-actions-container">
            <div id="profile-actions-container">
                <div id="message-btn-container">
                    <button id="msg-btn">Message</button>
                </div><br/>
                <div id="like-btn-container">
                    <h5 id="likes-count">5 Likes</h5>
                    <button id="like-btn"><i class='fas fa-plus'></i></button>
                </div><br/>
                <div id="post-counter">
                    <h5 id="posts-count">2 Posts</h5>
                </div>
            </div>
        </div>
    </div>
    <div id="user-post-container" class="row">
        <div id="post-header">
            <h2>All posts by Kevin</h2>
        </div>
        <div id="latest-post-container">
        </div>
    </div>
</div>
