<div id = 'left-side-div'>
   <img id = 'user-image' src = "https://randomuser.me/api/portraits/med/men/3.jpg">
   <div id ='user-name'>Kevin Hudson</div>
   <div id = 'user-about'>About</div>
   <div id = 'user-country'>Canada</div>
</div>

<div id = 'right-side-div'>
    <button id = 'message-btn'>Message</button>
    <div id = 'number-of-likes'>5 Likes
        <button id = 'like-option'>+</button>
    </div>
    <div id = 'number-of-posts'>2 Posts</div>
</div>

<div id ='center-side-div'>
    <div id = 'center-heading'><b>All posts by Kevin</b></div>
    <div class = 'user-post'>
        <div class = 'user-post-subject'>Subject Subject Subject </div>
        <div class = 'user-post-topic'>Java</div>
        <img class= 'user-post-image' src = 'https://randomuser.me/api/portraits/med/men/3.jpg'>
        <div class = 'user-post-message'>asdasfasfsadasd</div>
        <div class = 'user-post-date'>11 Sep 2019</div>
        <div class = 'user-post-reply'>7 replies</div>
    </div>
  
</div>


