h4{
	font-family: "Times New Roman", Times, serif;
	margin-bottom: -4px;
}

.container{
	text-align: center;
}

#post-form {
    margin-top: 10%;
}

.post-area {
    max-width: 600px;
    margin: auto;
}

.card-area {
    margin-top: 10%;
}

#post-box {
    resize: none;
    width: 100%;
    height: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#post-btn {
    float: left;
    width: 60px;
    font-size: 16px;
}

.card img {
    width:150px;
    height: 150px;
    border-radius: 50%;
}

.name  {
    padding-top:15px;
    word-spacing: 4px;
    padding-bottom:5px;

}
.middle-profile {
    margin-top: 40px;

}
.lower-profile{
    margin-top: 30px;
}
