#register-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 45px;
}
#formLogin{
    padding: 15px; 
    min-width:300px;
    left: -232px;
    top: 45px;
    position: absolute;
}

#register-main {
    padding-top: 30px;
    text-align: center;
}









