#profile-container {
    margin: 50px 250px 0px 250px;
    position: relative;
}

#user-photo {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

#profile-actions-container {
    position: absolute;
    bottom: 30%;
    left: 80%;
}

#msg-btn {
    border-style: solid;
    border-radius: 5px;
    background-color: #0074B5;
    font-size: 25px;
    color: white;
}

#like-btn {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-radius: 100%;
    background-color: #0074B5;
    color: white;
}

#likes-count {
    float:left;
    margin-right: 10px;
}

#likes-btn-container {
}

#user-post-container {
    margin-top: 50px;
}

.about-user {
    margin-top: 30px;
}
