
#left-side-div{
  
    width: 60%;
    float: left;

}

#user-image{
    zoom: 2;
    border-radius: 50%;
    border: 3px solid #d9d9d9;   
    margin: 1%;
}

#user-name {
    font-size: 30px;
    margin: 1%;
}
#user-about {
    font-size: 25px;
    margin: 1%;
}

#user-country {
    font-size: 20px;
    margin: 1%;
}


#right-side-div{
    float: center;
    margin-top: 14%;
    
}

#message-btn{
    background-color: #25a7da;
    color: white;
    font-size: 20px;
    margin-bottom: 1%;
}

#message-btn:hover{
    border:1px solid #1a7599;
}



#number-of-likes{
    color: #25a7da;
    font-size: 20px;
    float: center;

}

#like-option{
    background-color: #25a7da;
    font-size: 30px;
    height: 50px;
    
    color:white;
    width: 50px;
    
    border-radius: 50%;
    padding-left: 0.7%;
    padding-top: 0%;
    
    margin-left: 4%;
    position: absolute;   
}
#like-option:hover{
    border:2px solid #1a7599;
}

#number-of-posts {
    margin-top: 1%;   
    color: #25a7da;
    font-size: 20px;
    float: center;

}

#center-side-div{
    float: center;
    border: 2px solid;
    /* padding-left: 50%; */
   align-content: center;
    margin-top: 4%;
}